::-webkit-scrollbar-thumb {
	background: #405de6
}

::-webkit-scrollbar-track {
	background: #f9f9f9
}

::-webkit-scrollbar {
	width: 2px
}


@import url('../external.html?link=https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&amp;display=swap');

*,
body,
html {
	box-sizing: border-box
}

body,
html {
	padding: 0;
	margin: 0;
	height: 100%;
	line-height: 1.5;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background: #f5f8fc;
}

h1,h2,h3,h4,h5{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none
}

input::placeholder {
	color: #888;
	opacity: 1;
}

.header{
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
	z-index: 9999;
}

.site-branding-text {
	color: #FFF;
	text-align: center;
}

p.site-title {
	margin: 0;
}

.site-title a {
	color: #777;
		padding: 3px;
		display: block;
		font-size: 22px;
		font-family: pacifico,cursive;
		text-transform: none;
}
.container {
	max-width: 1040px;
	margin: 0 auto;
	text-align: center;
}

h2 {
    color: #000;
    text-align: left;
    width: 100%;
	padding: 5px 0;
	margin: 0;
    display: table;
    clear: both;
}
.leftsection {
    float: left;
    width: 23%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
	box-shadow: 0 15px 35px rgba(50,50,93,.3),0 5px 15px rgba(0,0,0,.3);
	display: none;
}
.leftsection .close {
    position: absolute;
    right: -45px;
    top: 10px;
    font-size: 18px;
    padding: 10px 17px;
    border: none;
    background: #fd1d1d;
    color: #fff;
	border-radius: 0 3px 3px 0;
    cursor: pointer;
	z-index: 3;
}
.leftsection h2 {
    text-align: center;
    margin: 5px;
    font-size: 1.4rem;
}
.leftsection h2 a {
    color: #fff;
    font-family: pacifico,cursive;
    text-transform: none;
}

.bookmarks {
    height: 70%;
    overflow: auto;
}
.bookmarks a {
    display: block;
    text-align: right;
    padding: 10px 18px;
    color: #ffffff85;
	text-transform: uppercase;
	font-weight: 400;
}

.ads {
	display: table !important;
	margin: 12px 0 !important;
	float: left;
	clear: both;
	width: 100% !important;
}
#mobile-fly-menu {
	display: block;
	position: absolute;
    cursor: pointer;
    width: 50px;
    height: 40px;
    float: left;
}
#mobile-fly-menu:hover span {
    background: #000;
}
#mobile-fly-menu span:nth-child(1) {
    top: 10px;
    width: 38px;
}
#mobile-fly-menu span:nth-child(2){top:19px;width:30px}
#mobile-fly-menu span:nth-child(3){top:28px;width:22px}
#mobile-fly-menu span{-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;display:block;position:absolute;left:12px;-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-ms-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out;height:4px;background:#777}


.thenitesharya-text{
  padding-top: 10px;
  display: table;
  width: 100%;
  position: relative;
 background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  z-index: 1;
}
.thenitesharya-text .container{
	position: relative;
}
.thenitesharya-text .clear {
  position: absolute;
  right: 4px;
  color: #de0707;
  font-size: 20px;
  padding: 10px 15px;
  line-height: 1.5;
  background: transparent;
  border: none;
  z-index: 99999;
  border-radius: 3px;
  cursor: pointer;
  top: 3px;
  outline: none;
}

.thenitesharya-text .clear:hover {
	color: #000;
}

.thenitesharya-text p {
	text-transform: uppercase;
	font-size: 12px;
	color: #777;
	padding: 0px;
	margin: 0;
	margin-top: 5px;
}

.thenitesharya-text.fixedtop {
    position: fixed;
	top: 0;
	padding-top: 5px;
}


.share_button {
	float: right;
}

.settings {
	float: left;
	width: 100%;
}

.settings input {
	box-shadow: none;
	cursor: pointer;
	padding: 2px;
	width: 220px;
}
.font-size {
	float: right;
	padding: 5px;
}
.font-size span {
    font-size: 13px;
    text-transform: uppercase;
    color: #777;
}
.share-link {
    float: left;
    width: 100%;
}
.share-link span{
	color: #777;
	font-family: arial,sans-serif;

}
#share-link{
	color: #444;
	cursor: pointer;
}
#share-link:hover{
	color: #000;
	text-decoration: underline;
}

input::placeholder {
	color: #888;
	opacity: 1;
}

input[type=range] {
	-webkit-appearance: none;
	margin: 5px 0;
  }
  input[type=range]:focus {
	outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
  
	height: 6.4px;
	cursor: pointer;
	animate: 0.2s;
	background: #405de6;
	border-radius: 1.3px;
  }
  input[type=range]::-webkit-slider-thumb {
	height: 25px;
	width: 25px;
	border-radius: 2px;
	background: #405de6;
	cursor: pointer;
	-webkit-appearance: none;
	border: 2px solid #405de6;
	margin-top: -10px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: #405de6;
  }
  input[type=range]::-moz-range-track {
	width: 100%;
	height: 6.4px;
	cursor: pointer;
	animate: 0.2s;
	background: #405de6;
	border-radius: 1.3px;
	border: 0.2px solid #405de6;
  }
  input[type=range]::-moz-range-thumb {
	border: 1px solid #405de6;
	height: 25px;
	width: 25px;
	border-radius: 2px;
	background: #405de6;
	cursor: pointer;
	border: 2px solid #405de6;
  
  }
  input[type=range]::-ms-track {
	width: 100%;
	height: 6.4px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
  }
  input[type=range]::-ms-fill-lower {
	background: #fff;
	border-radius: 2.6px;
  }
  input[type=range]::-ms-fill-upper {
	background: #fff;
	border-radius: 2.6px;
  }
  input[type=range]::-ms-thumb {
	height: 25px;
	width: 25px;
	border-radius: 2px;
	background: #405de6;
	cursor: pointer;
	border: 2px solid #405de6;
  
  }
  input[type=range]:focus::-ms-fill-lower {
	background: #fff;
  }
  input[type=range]:focus::-ms-fill-upper {
	background: #fff;
  }
.fontchangermain{
	float: left;
	width: 100%;
}
.fontchangerlist,
.fontchangerrecentlist {
	display: block;
	overflow: hidden;
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 5px;
  position: relative;
  padding: 4px;
}

.fontchanger {
  position: relative;
  margin: 0;
  display: block;
  float: left;
  width: 100%;
  
}

.fontchanger span {
    color: #c0c9d4;
    font-size: 11px;
    text-transform: uppercase;
	float: left;
}

.fontchanger p {
	margin: 0;
    font-size: 22px;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    float: right;
    background: #fff;
    cursor: pointer;
    color: #434c58;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	padding: 10px;
	margin-bottom: 10px;
	word-break: break-word;
	border: 1px solid #e6e6e6;
    border-radius: 3px;
	cursor: pointer;
	font-weight: 400;
}

.fontchanger:hover p{
	border-color: #405de6;
	color: #405de6;
}
.fontchanger:hover span{
	display: block;
	color: #405de6;
}

p.loadmore {
	text-align: center;
	clear: both;
	margin-bottom: 0;
}


h4 {
	text-transform: uppercase;
	color: #777;
	backface-visibility: hidden;
	margin: 0;
	padding: 10px;
	float: left;
	width: 100%;
	text-align: left;
}


.share {
	padding-top: 9px;
    display: block;
    float: left;
    text-transform: uppercase;
    color: #ffffff8c;
	margin-right: 5px;
	font-size: 12px;
}

#thenitesharya-text {
  width: 100%;
  height: 70px;
  padding: 0.6em 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  letter-spacing: 0.02em;
  line-height: 1.4;
  margin-bottom: 0;
  display: block;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  border-radius: 3px;
    background: #f5f6fa;
	box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
}
#thenitesharya-text::placeholder {
	color: #999;
	font-size: 18px;
  }

.separator {
	float: left;
}
.toplink {
	float: left;
	margin-left: 5px;
}

.toplink a {
	display: inline-block;
	padding: 7px 15px;
	color: #0d67ce;
	font-size: 14px;
	background: #023c80;
	border-radius: 3px;
}

.toplink a:hover {
	color: #000;
	background: #fff;
}


.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0;
  float: left;
}

.resp-sharing-button {
  transition: 25ms ease-out;
  padding: 1px 15px 3px;
  font-size: 20px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-radius: 0 0 0 3px;
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}

.resp-sharing-button--telegram {
  background-color: #54A9EB;
  border-radius: 0 0 3px 0;
}

.resp-sharing-button--telegram:hover {
  background-color: #4B97D1;}


.page-load-status {
	text-align: center;
	color: #777;
	float: left;
	width: 100%;
  }
.infinite-scroll-last{
	font-size: 20px;
	margin: 2px 0;
	padding: 2px 0;
}
.footer {
	width: 100%;
	float: left;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	background: #f4f5f7;
	padding-bottom: 50px;
}



h1 {
	font-size: 2.3em;
	color: #000;
}

h2 {
	color: #000;
}

.fontchangerlist h2 {
	color: #797979;
    margin: 0;
    padding: 0 5px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer p {
	color: #444;
	font-weight: 300;
}

p.other-platform {
	text-align: center;
}

p.other-platform img {
	width: auto;
	height: 90px;
}

.links {
	text-align: center;
	clear: both;
	float: left;
	width: 100%;
	padding-bottom: 10px;
	background: #fff;
}

.links a {
	background: #405de6;
	color: #fff;
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    border-radius: 3px;
    justify-content: center;
    padding: 7px 13px;
    text-align: center;
    white-space: nowrap;
}

.links a:hover {
	background: #000;
	color: #fff;
}

.aload {
	font-size: 20px; /* change size here */
	position: relative;
	width: 4em;
	height: 1em;
	margin: 10px auto;
  }
  
  .aload span {
	display: block;
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	background: #555; /* change color here */
	position: absolute;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
  }
  
  .aload span:nth-child(1),
  .aload span:nth-child(2) {
	left: 0;
  }
  .aload span:nth-child(3) { left: 1.5em; }
  .aload span:nth-child(4) { left: 3em; }
  
  @keyframes reveal {
	from { transform: scale(0.001); }
	to { transform: scale(1); }
  }
  
  @keyframes slide {
	to { transform: translateX(1.5em) }
  }
  
  .aload span:nth-child(1) {
	animation-name: reveal;
  }
  
  .aload span:nth-child(2),
  .aload span:nth-child(3) {
	animation-name: slide;
  }
  
  .aload span:nth-child(4) {
	animation-name: reveal;
	animation-direction: reverse;
  }
#load-more {
	font-size: 20px;
	padding: 12px 35px;
	border: 2px solid #2a5aeb;
	color: #2a5aeb;
	margin: 10px 0 5px 0;
	cursor: pointer;
	background: #fff;
	text-align: center;
	width: 80%;
	outline: none;
	border-radius: 3px;
}

#load-more:hover {
	background: #2a5aeb;
	color: #fff;
}

#scroll,.randomgen {
	display: none;
    position: fixed;
    bottom: 20%;
    right: 0;
    background: #fff;
    z-index: 99999;
    color: #777;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 14px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .21);
	border-radius: 2px;
}
.randomgen{
	display: block;
    bottom: 30%;
    text-transform: uppercase;
    background: #fff;
    color: #777;
    font-size: 15px;
    z-index: 99;
}
#scroll:hover,.randomgen:hover {
	background:#000;
	color: #fff;
}

p.copied {
	position: fixed;
	width: 260px;
    right: 0;
	bottom: 25%;
    background: #405de6;
    color: #fff;
    padding: 5px 10px;
	border-radius: 3px 0 0 3px;
	z-index: 99999;
	box-shadow: 0px 0px 8px 0 rgba(0,0,0,.41);
}
p.copied span {
    float: left;
    width: 100%;
}
p.copied .text {
    background: transparent;
    color: #fff;
    border: none;
    width: 100%;
}
.site-link {
	position: absolute;
	left: 0;
    bottom: 0;
	right: 0;
	padding-bottom: 20px;
}
.site-link a {
    font-size: 20px;
    display: block;
    padding: 3px 20px;
    text-align: left;
}
.site-link a:hover {
    color: #fff9;
}
.bookmarks a:hover{
	background: #fff;
	color: #000;
}
@media only screen and (max-width:970px) {

	.header{
		background: #465be3;
	}
	.site-title a{
		color: #fff;
	}

	#mobile-fly-menu span{
		background: #fff;
	}

	.separator{
		display: none;
	}

	.leftsection{
		width: 75%;
	}

	#mobile-fly-menu span:nth-child(1) {
		top: 9px;
		width: 38px;
	}
	#mobile-fly-menu span:nth-child(2) {
		top: 19px;
		width: 30px;
	}
	#mobile-fly-menu span:nth-child(3) {
		top: 28px;
		width: 22px;
	}

	#mobile-fly-menu{position: absolute;}

	.thenitesharya-text {
		margin-bottom: 0;
		padding: 7px;
		position: fixed;
		bottom: 0;
		left: 0;
		-webkit-box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.55);
-moz-box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.55);
box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.55);
	}
	.thenitesharya-text input{
		width: 70%;
	}
	.thenitesharya-text .clear{
		padding: 7px 10px;
  }
	.container {
		max-width: 100%;
	}
	.fontchangerlist div {
		max-width: 1% 0;
	}
	.fontchangerlist p,
	.fontchangerrecentlist p {
		font-size: 18px;
	}

	.fontchangerlist main input {
		width: 100%;
		text-align: center;
	}


	nav a {
		font-size: 14px;
	}

	.insta-profile {
		margin: 20px 16px 15px;
	}


	.share input {
		display: none;
	}
	.rightside {
		width: 100%;
		margin-left: 0%;
	}
	.footer .thumb {
		width: 90%;
	}

}

@media only screen and (max-width:600px) {
	.share-link {
		font-size: 13px;
	}
	.container {
		width: 100%;
	}
	.footer img {
		width: 90%;
	}
	.site-info {
		padding: 0 5px;
	}

	p.copied {
		width: 50%;
	}


  #thenitesharya-text{
	font-size: 18px;
	height: 60px;
  }
	.footer .thumb img {
		width: 100%;
	}
	h1 {
		font-size: 1.5em;
		color: #000;
	}
	.fontchangerlist h2{
		font-size: 16px;
	}
	.resp-sharing-button{
		font-size: 18px;
	}
	.thenitesharya-text{
		padding: 2px 2px 0;
	}
	.share .text {
		float: left;
		padding: 2px;
		float: left;
		text-align: right;
		width: 15%;
		font-size: 10px;
	}
}
